.card {
  background-color: $base-white;
  font-family: $roboto;
  padding: 50px 42px;
  text-align: center;
  position: relative;


  &:hover,
  &:focus {
    padding: 43px 35px;
    border: solid 7px;
    border-image: linear-gradient(127.61deg, #d10a42 0%, #0041ca 45.58%) 7;
  }
}

.card__title {
  font-size: 22px;
  line-height: 22px;
  font-weight: 700;
  margin: 0 0 19px;
}

.card__information {
  font-size: 14px;
  line-height: 22px;
  font-weight: 300;
  margin: 0 0 64px;
}

.card__price {
  font-size: 48px;
  line-height: 150%;
  font-weight: 700;
  color: $price-blue;
  margin: 0 0 19px;
  position: relative;
  z-index: 2;
  display: flex;
  align-items: baseline;
  justify-content: center;

  &::after {
    content: "";
    display: block;
    width: 24px;
    height: 33px;
    background: $base-blue;
    mask-image: url("/__spritemap#sprite-icon-rub-view");
    mask-size: 24px 33px;
    mask-repeat: no-repeat;
    mask-position: center;
    margin-left: 10px;
  }

  &::before {
    display: block;
    color: $shadow;
    font-size: 80px;
    line-height: 150%;
    font-weight: 700;
    position: absolute;
    bottom: 0;
    z-index: -1;
  }
}

.card__price--5000::before {
  content: "5000";
}

.card__price--1700::before {
  content: "1700";
}

.card__price--2700::before {
  content: "2700";
}

.card__price--30000::before {
  content: "30000";
}

.card__price--10200::before {
  content: "10200";
}

.card__price--16200::before {
  content: "16200";
}

.card__price--60000::before {
  content: "60000";
}

.card__price--20400::before {
  content: "20400";
}

.card__price--32400::before {
  content: "32400";
}

.card__button {
  display: block;
  font-size: 12px;
  line-height: 12px;
  font-weight: 700;
  text-transform: uppercase;
  text-decoration: none;
  color: $base-blue;
  border: 2px solid $base-blue;
  padding: 25px;
  background-color: transparent;
  height: 66px;
  box-sizing: border-box;

  &:hover {
    background: linear-gradient(97.05deg, #ed0233 17.6%, #003eb7 95.31%);
    color: $base-white;
    border: none;
  }

  &:focus {
    background: linear-gradient(97.05deg, rgba(237, 2, 51, 0.8) 17.6%, rgba(0, 62, 183, 0.8) 95.31%);
    color: $base-white;
    border: 2px solid #000000;
  }

  &:active {
    background: linear-gradient(97.05deg, #ed0233 17.6%, #003eb7 95.31%);
    color: $base-white;
    border: none;
  }
}
