.features {
  padding: 40px 0 39px;
  background: #f8f9fc;
  margin: 0 auto;

  @media (min-width: $tablet-width) {
    padding: 61px 0;
  }
}

.features__container {
  text-align: center;
  width: 320px;

  @media (min-width: $tablet-width) {
    padding: 0 45px;
    width: 678px;
  }
}

.features__title {
  font-size: 32px;
  line-height: 32px;
  font-weight: 600;
  margin: 0 0 40px;

  @media (min-width: $tablet-width) {
    font-size: 42px;
    line-height: 42px;
    margin-bottom: 50px;
  }
}

.features__list {
  @media (min-width: $tablet-width) {
    display: grid;
    row-gap: 39px;
    column-gap: 30px;
  }
}

.features__item {
  padding: 0 15px;
  width: 290px;
  margin: 0 auto 35px;

  &:nth-last-child(1) {
    margin-bottom: 0;
  }

  @media (min-width: $tablet-width) {
    padding: 0;
    margin: 0;
    width: 324px;
  }
}

.features__item--blue {
  grid-column: 1 / 3;
  margin: 0 auto;
}

.features__card {
  font-family: $roboto;
  font-size: 14px;
  line-height: 22px;
  font-weight: 300;

  p {
    margin: 0 30px;
  }

  p:nth-child(1) {
    background-image: linear-gradient(127.61deg, #d10a42 20%, #0041ca 45.58%);
    color: transparent;
    background-clip: text;
    font-size: 64px;
    line-height: 64px;
    font-weight: 700;
  }

  p:nth-child(2) {
    font-size: 14px;
    line-height: 20px;
    font-weight: 400;
    margin: 0 0 12px;
  }

  h3 {
    font-size: 18px;
    line-height: 20px;
    font-weight: 400;
    margin: 0 0 12px;
  }

  @media (min-width: $tablet-width) {
    display: flex;
    gap: 15px;
    font-size: 16px;
    line-height: 24px;
    text-align: left;

    p {
      margin: 0;
    }

    p:nth-child(1) {
      font-size: 70px;
      line-height: 70px;
    }

    p:nth-child(2) {
      line-height: 22px;
      font-size: 14px;
      font-weight: 300;
      margin: 0;
    }

    h3 {
      font-size: 20px;
      margin: 0 0 12px;
    }
  }
}

.features__card--blue {
  display: block;
  font-family: $roboto;
  font-size: 14px;
  line-height: 22px;
  font-weight: 300;
  margin: 40px -15px;
  padding: 30px 75px 40px;
  color: $base-white;
  background-color: $secondary-blue;

  p {
    margin: 0;
  }

  p:nth-child(1) {
    background-image: none;
    color: inherit;
    font-size: 64px;
    line-height: 64px;
    font-weight: 700;
    margin: 0 0 6px;
  }

  h3 {
    font-size: 22px;
    line-height: 22px;
    font-weight: 700;
    margin: 0 0 20px;
  }

  @media (min-width: $tablet-width) {
    margin: 0 auto;
    text-align: center;
    padding: 35px;
    font-size: 16px;
    line-height: 24px;
    width: 250px;


    p:nth-child(1) {
      font-size: 70px;
      line-height: 70px;
      margin-bottom: 25px;
    }

    h3 {
      font-size: 24px;
      line-height: 24px;
      font-weight: 700;
      margin: 0 0 25px;
    }
  }
}
