.footer {
  background-color: #030a1a;
  color: $base-blue;
  padding: 40px 0;

  @media (min-width: $tablet-width) {
    padding: 45px;

    svg {
      width: 110px;
      height: 22px;
      margin-bottom: 0;
    }
  }

  @media (min-width: $desktop-width) {
    padding: 40px 0;
    svg {
      width: 130px;
      height: 26px;
      margin-bottom: 0;
    }
  }
}

.footer__container {
  padding: 0 15px;
  width: 290px;
  margin: 0 auto;

  @media (min-width: $tablet-width) {
    width: 678px;
    padding: 0;
    display: flex;
    justify-content: space-between;
  }

  @media (min-width: $desktop-width) {
    padding: 0 103px;
    width: auto;
  }
}

.footer__logo {
  margin-bottom: 26px;
}

.footer__navigation {
  background-color: #030a1a;
  display: flex;
}

.footer__social {
  display: flex;

  @media (min-width: $tablet-width) {
    justify-content: space-between;
    gap: 15px;
  }

  @media (min-width: $desktop-width) {
    gap: 10px;
  }
}

.footer__link {
  display: block;
  width: 25px;
  height: 25px;
  border-radius: 50%;
  background-color: $base-white;
  margin-right: 20px;

  & :nth-last-child {
    margin-right: 0;
  }

  &::after {
    content: "";
    display: block;
    width: 25px;
    height: 25px;
    mask-size: 15px 15px;
    mask-repeat: no-repeat;
    mask-position: center;
    background: #030a1a;
  }

  &:hover {
    background-color: #74819c;

    &::after {
      background: $base-white;
    }
  }

  &:focus {
    background-color: $price-blue;

    &::after {
      background: $base-white;
    }
  }

  &:active {
    background-color: $base-blue;

    &::after {
      background: $base-white;
    }
  }

  @media (min-width: $tablet-width) {
    margin-right: 0;
  }
}


.footer__link-vk::after {
  mask-image: url("/__spritemap#sprite-icon-vk-view");
}

.footer__link-ok::after {
  mask-image: url("/__spritemap#sprite-icon-ok-view");
}

.footer__link-rd::after {
  mask-image: url("/__spritemap#sprite-icon-rd-view");
}
