.form {
  background-color: $base-blue;
  padding: 72px 15px 0;
}

.form__container {
  width: 290px;
  margin: 0 auto;
  margin-bottom: 70px;
}

form {
  display: flex;
  flex-direction: column;
  border: none;
  padding: 0;
  margin: -1px;
  legend {
    font-family: $alumni;
    font-weight: 600;
    font-size: 32px;
    line-height: 32px;
    color: $base-white;
    margin-bottom: 36px;
  }

  input {
    border: none;
    font-family: $roboto;
    font-weight: 300;
    font-size: 14px;
    line-height: 22px;
    border: none;
    background-color: transparent;
    border-bottom: 1px solid #74819c;
    padding: 0 4px 3px;
    margin: 0 0 37px;
    color: #74819c;

    &:hover {
      border-color: $base-white;
    }

    &:focus,
    &:focus-visible {
      outline: none;
      border: 1px solid $base-white;
      padding: 10px 4px;
      margin: -11px 0 30px;
    }

    &:disabled {
      opacity: 40%;
    }
  }
}

.form__button {
  font-family: $roboto;
  font-weight: 700;
  font-size: 12px;
  line-height: 12px;
  text-align: center;
  text-transform: uppercase;
  border: 2px solid $base-white;
  color: $base-white;
  background-color: $base-blue;
  height: 60px;
  width: 100%;
  padding: 22px;

  &:hover {
    background: linear-gradient(97.05deg, #ed0233 17.6%, #003eb7 95.31%);
    color: $base-white;
    border: none;
  }

  &:focus {
    background: linear-gradient(97.05deg, rgba(237, 2, 51, 0.8) 17.6%, rgba(0, 62, 183, 0.8) 95.31%);
    color: $base-white;
    border: 2px solid #000000;
  }

  &:active {
    background: linear-gradient(97.05deg, #ed0233 17.6%, #003eb7 95.31%);
    color: $base-white;
    border: none;
  }
}

