.header {
  position: absolute;
  z-index: 1;
  top: 0;
  right: 0;
  left: 0;
  background-color: transparent;
}

.header__container {
  width: 290px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 auto;
  padding: 16px 15px;

  @media (min-width: $tablet-width) {
    width: 678px;
    padding: 30px 45px;

    svg {
      width: 110px;
      height: 22px;
    }
  }

  @media (min-width: $desktop-width) {
    width: 1160px;
    padding: 30px 103px;

    svg {
      width: 130px;
      height: 26px;
    }
  }
}

.header__phone {
  font-family: $roboto;
  font-size: 22px;
  line-height: 22px;
  font-weight: 700;
  color: $base-white;
  text-decoration: none;

  &:hover {
    color: rgba(28, 51, 116, 0.5);
  }

  &:focus {
    color: $secondary-blue;
  }

  &:active {
    color: $base-blue;
  }

  &:disabled {
    color: $secondary-white;
  }

  @media (min-width: $tablet-width) {
    font-size: 24px;
    line-height: 24px;
  }

  @media (min-width: $desktop-width) {
    font-size: 26px;
    line-height: 26px;
  }
}
