.hero {
  background: $bg-gradient;
  padding: 102px 15px 138px;
  font-family: $roboto;
  color: $base-white;
  position: relative;

  @media (min-width: $tablet-width) {
    padding: 84px 45px 100px;
  }
}

.hero__container {
  width: 290px;
  margin: 0 auto;
  display: flex;
  flex-direction: row-reverse;
  align-items: flex-end;

  @media (min-width: $tablet-width) {
    width: 678px;
    position: relative;
  }
}

.hero__titles {
  font-family: $alumni;
  text-align: right;
  align-self:self-start;
  margin: 32px 30px 0 0;
}

.hero__sup-title {
  font-size: 32px;
  line-height: 32px;
  font-weight: 600;
  margin: 0 0 16px;

  @media (min-width: $tablet-width) {
    font-weight: 600;
    font-size: 42px;
    line-height: 42px;
    margin-bottom: 10px;
  }

}

.hero__title {
  font-size: 62px;
  line-height: 62px;
  font-weight: 800;
  text-transform: uppercase;
  margin: 0;
  letter-spacing: 1px;

  @media (min-width: $tablet-width) {
    font-size: 72px;
    line-height: 85px;
    letter-spacing: 2px;
    margin-right: -2px;
  }
}

.hero__list {
  text-align: right;
  font-size: 14px;
  line-height: 20px;
  font-weight: 400;
  flex-shrink: 0;

  @media (min-width: $tablet-width) {
    line-height: 22px;
    align-self: center;
  }
}

.hero__button {
  font-size: 12px;
  line-height: 12px;
  font-weight: 700;
  text-transform: uppercase;
  text-decoration: none;
  color: inherit;
  text-align: center;
  position: absolute;
  left: 0;
  right: 0;
  bottom: 32px;
  background: transparent;
  border: 2px solid $base-white;
  padding: 22px 0;
  margin: 0 auto;
  width: 290px;
  box-sizing: border-box;

  @media (min-width: $tablet-width) {
    width: 185px;
    height: 56px;
    bottom: 30px;
    left: auto;
    right: 354px;
  }


  &:hover {
    background-color: $base-white;
    color: $price-blue;
  }

  &:focus {
    background-color: rgba(255, 255, 255, 0.8);
    border-color: #000000;
    color: $price-blue;
  }

  &:active {
    background-color: $base-white;
    color: $base-blue;
  }

  &:disabled {
    opacity: 50%;
    color: $base-white;
  }
}

.hero__main-image {
  display: none;
  @media (min-width: $tablet-width) {
    display: block;
    width: 324px;
    height: 390px;
    flex-shrink: 0;
  }
}
