.juri {
  padding: 40px 0;
  background-color: $base-white;

  @media (min-width: $tablet-width) {
    padding: 30px 0 60px;
  }

  @media (min-width: $desktop-width) {
    padding: 100px 0;
  }
}

.juri__container {
  padding: 0 30px;
  text-align: center;
  margin: 0 auto;
  width: 260px;

  @media (min-width: $tablet-width) {
    padding: 0 45px;
    width: 678px;
  }

  @media (min-width: $desktop-width) {
    padding: 0;
    width: 100%;
  }
}

.juri__title {
  font-size: 32px;
  line-height: 32px;
  font-weight: 300;
  margin: 0 0 20px;

  @media (min-width: $tablet-width) {
    font-size: 54px;
    line-height: 54px;
    margin-bottom: 46px;
  }
}

.juri__swiper {
  display: flex;
  margin: 0 auto;
}

.juri__button {
  display: none;

  @media (min-width: $tablet-width) {
    display: block;
    width: 60px;
    border: none;
    position: relative;
    background-color: $base-white;

    &::after {
      content: "";
      display: block;
      width: 60px;
      height: auto;
      mask-size: 18px 32px;
      mask-repeat: no-repeat;
      mask-position: 37px center;
      background: $base-blue;
      position: absolute;
      bottom: 0;
      top: 0;
      right: 0;
      left: 0;
    }
  }

  @media (min-width: $desktop-width) {
    width: 103px;
    &::after {
      width: 103px;
      mask-size: 18px 32px;
      mask-repeat: no-repeat;
      mask-position: 37px center;
      background: $base-blue;
      position: absolute;
      bottom: 0;
      top: 0;
      right: 0;
      left: 0;
    }
  }
}

.juri__button--previous {
  &::after {
    mask-image: url("/__spritemap#sprite-icon-arrow-view");
    rotate: 180deg;
  }
}

.juri__button--next {
  &::after {
    mask-image: url("/__spritemap#sprite-icon-arrow-view");
  }
}

.juri__list {
  display: flex;
  column-gap: 40px;
}

.juri__item {
  position: relative;
  text-align: center;
  width: 260px;
  margin: 0 auto;

  &:nth-child(n) {
    display: none;
  }

  &:nth-child(1) {
    display: block;
  }

  @media (min-width: $tablet-width) {
    font-size: 54px;
    line-height: 54px;

    &:nth-child(1),
    &:nth-child(2) {
      display: block;
    }
  }

  @media (min-width: $desktop-width) {
    &:nth-child(1),
    &:nth-child(2),
    &:nth-child(3),
    &:nth-child(4) {
      display: block;
    }
  }
}

.juri__active {
  font-family: $roboto;
  display: none;
  position: absolute;
  background-color: rgba(16, 38, 84, 0.89);
  color: $base-white;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  padding: 50px 0;
}

.juri__active h3 {
  font-size: 22px;
  line-height: 22px;
  font-weight: 400;
  margin: 0 0 8px;
}

.juri__active p {
  font-size: 16px;
  line-height: 24px;
  font-weight: 300;
  margin: 0 0 34px;
}

.juri__active ul {
  list-style: none;
  text-align: left;
  padding: 0;
  width: 160px;
  margin: 0 auto;
}

.juri__active li {
  font-size: 14px;
  line-height: 22px;
  font-weight: 400;
  margin-bottom: 12px;
  display: flex;
  align-items: flex-start;

  &::before {
    content: "";
    display: block;
    height: 6px;
    width: 6px;
    border-radius: 50%;
    background-color: $base-white;
    margin-right: 10px;
    margin-top: 8px;
    flex-shrink: 0;
  }
}

.juri__item-container:hover ~ .juri__active,
.juri__item-container:focus ~ .juri__active {
  display: block;
}

.juri__item-container:hover .juri__name,
.juri__item-container:focus .juri__name {
  display: none;
}

.juri__name {
  position: absolute;
  text-align: center;
  z-index: 1;
  font-family: $roboto;
  font-size: 22px;
  line-height: 22px;
  font-weight: 400;
  color: $base-white;
  margin: 0;
  bottom: 24px;
  left: 0;
  right: 0;
}
