.navigation__list {
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 10px;

  a {
    color: $base-white;
    text-decoration: none;
    font-family: $roboto;
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
  }

  @media (min-width: $tablet-width) {
    margin-bottom: 0;
    display: grid;
    grid-auto-flow: column;
    grid-column-gap: 30px;
    justify-content: space-between;

    a {
      line-height: 22px;
    }
  }
}

.navigation__item {
  display: block;
  width: min-content;
  margin-right: 35px;
  margin-bottom: 20px;

  @media (min-width: $tablet-width) {
    margin-right: 0;
    margin-bottom: 0;
    width: auto;
  }
}
