$base-blue: #102654;
$base-white: #ffffff;
$secondary-blue: #1c3374;
$price-blue: #103aae;
$shadow: #e8e8e8;

$secondary-white: #f8f9fc;
$accent-red: #ed0233;

$text-gradient: linear-gradient(127.61deg, #D10A42 0%, #0041CA 45.58%);
$button-gradient: linear-gradient(148.82deg, #D10A42 0.85%, #00359F 100%);
$bg-gradient: linear-gradient(90deg, #1C3477 0%, #1C3477 0.01%, #1A3578 39.11%, #73184B 75.5%, #B4022A 100%);
